<%= javascript_include_tag  "jquery", "jquery.flot" %>
<% provide(:title, "Data") %>


<h1>
	<%= @data_set.description %>
</h1>
<span class="data"><%= @data_set.tdata.unpack("f*").to_s %></span>
<span class="data"><%= @data_set.ydata.unpack("f*").to_s %></span>

<div id="placeholder" style="width:600px;height:300px;"></div>

<script type="text/javascript">
$(function () {
    tdata = <%= @data_set.tdata.unpack("f*") %>;
	ydata = <%= @data_set.ydata.unpack("f*") %>;
	
	var typairs = [];
	for (var i=0; i < tdata.length; i++)
		typairs.push([tdata[i],ydata[i]]);
    
    $.plot($("#placeholder"), [ typairs ]);
});
</script>