<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ferncliff Technologies about this project at
  <a href="http://fernclifftechnolgies.com/contact"> the Ferncliff Technologies contact page</a>.
</p>