<% provide(:title, '') %>

<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/data_set_form' %>
		</section>
	</aside>
</div>

<% else %>

<div class="center hero-unit">
	<h1>Physics On Your Phone</h1>
	<h2>
		This is the home page for Physics On Your Phone.  Thank you for visiting.  We are currently under construction.  
	</h2>
	<p>
		To learn more about our Motion Logger app, please click here:  <a href="http://motionlogger.fernclifftechnologies.com">Motion Logger App</a>
	</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= image_tag("physicsonyourphonestub.png", alt: "Physics On Your Phone") %>
<% end %>

