<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
	<div class="span6 offset3">

		<%= form_for(@user) do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>

		<div id="edit_gravatar">
			<div id="egrav_imgdiv">
				<%= gravatar_for @user %>
			</div>
			<div id="egrav_linkdiv">
				<a href="http://gravatar.com/emails" target="_blank">Change Gravatar at Gravatar.com</a>
				<p>(This link will open in a new window.)</p>
			</div>
		</div>
	</div>
</div>