<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<% if @user.data_sets.any? %>
		<h3>Datasets (<%= @user.data_sets.count %>)</h3>
		<ol class="datasets">
			<%= render @data_sets %>
		</ol>
		<%= will_paginate @data_sets %>
		<% end %>
	</div>
</div>