<%= form_for(@data_set) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Data set description..." %>
	<%= f.text_area :tdata, placeholder: "0, 1, 2, 3, 4" %>
	<%= f.text_area :ydata, placeholder: "0, 1, 2, 1, 0" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>