// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gravatar 

{
  float: left;
  margin-right: 10px;
}


#egrav_linkdiv
{
	clear:both;
	float: left;
}

#egrav_linkdiv p
{
	font-size: 8pt;
}

#egrav_imgdiv
{
	padding-top: 15px;
	clear: both;
	float: left;
}