<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header'%>
	<%= render 'layouts/signin_id'%>
    <div class="container">
	  <% flash.each do |key, value| %>
	    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
	  <% end %>
      <%= yield %>
	  <%= render 'layouts/footer' %>
	  <%= debug(params) if Rails.env.development? %>
	  <% if Rails.env.development? %>
	    <div id="request_data">
		  <ul>
			<li>format:<%= request.format %></li>
			<li>method:<%= request.method %></li>
			<li>sessions:<%= session[:return_to] %></li>
		  </ul>
	  	</div>
	  <% end %>
    </div>
  </body>
</html>